:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 393px;
  height: 852px;
  margin: 0 auto;
  background: #fbd5b5;
  overflow: hidden;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 17px;
  position: relative;
  width: 374px;
  margin: 70px 0 0 9px;
  padding: 10px 10px 10px 10px;
  background: #ffffff;
  border: 1px solid #8f8e8e;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.frame-1 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 78px;
  position: relative;
  width: 354px;
  z-index: 2;
}
.frame-2 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 27px;
  padding: 8px 8px 8px 8px;
  border: 1px solid #8f8e8e;
  transform: rotate(180deg);
  z-index: 3;
  border-radius: 10px;
}
.vector {
  flex-shrink: 0;
  position: relative;
  width: 11px;
  height: 20.001px;
  background: url(../assets/images/a9ea005d-f3e8-4bf7-bca7-596a84f30fd6.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
.novembre-week {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 144px;
  height: 16px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 5;
}
.frame-3 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 27px;
  padding: 8px 8px 8px 8px;
  border: 1px solid #8f8e8e;
  z-index: 6;
  border-radius: 10px;
}
.vector-4 {
  flex-shrink: 0;
  position: relative;
  width: 11px;
  height: 20.001px;
  background: url(../assets/images/68f5833f-45c7-4f44-9c04-a9ee893513a9.png)
    no-repeat center;
  background-size: cover;
  z-index: 7;
}
.date {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 345px;
  z-index: 8;
}
.frame-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 5px;
  position: relative;
  width: 39px;
  padding: 5px 0 5px 0;
  z-index: 9;
}
.monday {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 16px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 10;
}
.text-3 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 14px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 13.799px;
  text-align: center;
  white-space: nowrap;
  z-index: 11;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 5px;
  position: relative;
  width: 39px;
  padding: 5px 0 5px 0;
  z-index: 12;
}
.tuesday {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 16px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 13;
}
.text-5 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 14px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 13.799px;
  text-align: center;
  white-space: nowrap;
  z-index: 14;
}
.frame-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 5px;
  position: relative;
  width: 39px;
  padding: 5px 0 5px 0;
  z-index: 15;
}
.wednesday {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 16px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 16;
}
.text-7 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 14px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 13.799px;
  text-align: center;
  white-space: nowrap;
  z-index: 17;
}
.button-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 5px;
  position: relative;
  width: 39px;
  padding: 5px 0 5px 0;
  cursor: pointer;
  background: #bf8091;
  border: none;
  z-index: 18;
  border-radius: 5px;
}
.thursday {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 16px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 19;
}
.text-9 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 14px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 13.799px;
  text-align: center;
  white-space: nowrap;
  z-index: 20;
}
.frame-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 5px;
  position: relative;
  width: 39px;
  padding: 5px 0 5px 0;
  z-index: 21;
}
.friday {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 16px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 22;
}
.text-b {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 14px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 13.799px;
  text-align: center;
  white-space: nowrap;
  z-index: 23;
}
.frame-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 5px;
  position: relative;
  width: 39px;
  padding: 5px 0 5px 0;
  z-index: 24;
}
.span {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 16px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 25;
}
.span-a {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 14px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 13.799px;
  text-align: center;
  white-space: nowrap;
  z-index: 26;
}
.frame-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 5px;
  position: relative;
  width: 39px;
  padding: 5px 0 5px 0;
  z-index: 27;
}
.span-c {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 16px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 28;
}
.span-d {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 14px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 13.799px;
  text-align: center;
  white-space: nowrap;
  z-index: 29;
}
.flex-row-cfb {
  position: relative;
  width: 220px;
  height: 50px;
  margin: 30px 0 0 86px;
  z-index: 37;
}
.ellipse {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background: url(../assets/images/dc1f5e19-392e-47bc-980e-4d1eb0d5cac7.png)
    no-repeat center;
  background-size: cover;
  z-index: 34;
  border-radius: 50%;
}
.group {
  position: absolute;
  width: 22.73%;
  height: 100%;
  top: 0;
  left: 38.64%;
  background: url(../assets/images/1752cee5-a7b3-4b1b-9c1f-e8b55d1410a1.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 32;
}
.group-e {
  position: absolute;
  width: 22.73%;
  height: 100%;
  top: 0;
  left: 77.27%;
  background: url(../assets/images/e2e383bb-4326-4b18-a9eb-dc46b54f8fbf.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 31;
}
.vector-f {
  position: absolute;
  width: 10.7%;
  height: 60%;
  top: 20%;
  left: 5.91%;
  background: url(../assets/images/df4f0325-ad70-4700-a8f9-0f01101747d0.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 37;
}
.flex-row-a {
  position: relative;
  width: 393px;
  height: 594px;
  margin: 29.999px 0 0 0;
  z-index: 100;
}
.rectangle {
  position: absolute;
  width: 353px;
  height: 594px;
  top: 0;
  left: 20px;
  font-size: 0px;
  background: #ffffff;
  border: 1px solid #8e8d8d;
  border-radius: 20px 20px 0 0;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.vos-recettes {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 109px;
  height: 16px;
  margin: 13px 0 0 122px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 38;
}
.frame-10 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 282.823px;
  margin: 16px 0 0 40px;
  padding: 5px 10px 5px 10px;
  background: #ffffff;
  border: 1px solid #8f8e8e;
  z-index: 39;
  border-radius: 10px;
}
.mask-group {
  flex-shrink: 0;
  position: relative;
  width: 70px;
  height: 70px;
  background: url(../assets/images/70a12256-83fd-45b8-ba00-ffe8e20ee71a.png)
    no-repeat center;
  background-size: cover;
  z-index: 40;
  border-radius: 10px;
}
.frame-11 {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 182.823px;
  z-index: 41;
}
.group-12 {
  flex-shrink: 0;
  position: relative;
  width: 142.823px;
  height: 52px;
  font-size: 0px;
  z-index: 42;
}
.plat-1 {
  display: block;
  position: relative;
  height: 14px;
  margin: 0 0 0 0;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 49;
}
.group-13 {
  position: relative;
  width: 142.823px;
  height: 12px;
  margin: 7px 0 0 0;
  z-index: 43;
}
.lorem-ipsum-dolor {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 124px;
  height: 11px;
  top: 0;
  left: 18.823px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  text-align: center;
  white-space: nowrap;
  z-index: 44;
}
.vector-14 {
  position: absolute;
  width: 9.68%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../assets/images/d0cd8545-d6c0-4a58-ae59-264d4fd39eaa.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 45;
}
.group-15 {
  position: relative;
  width: 142.823px;
  height: 12px;
  margin: 7px 0 0 0;
  z-index: 46;
}
.text-13 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 124px;
  height: 11px;
  top: 0;
  left: 18.823px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  text-align: center;
  white-space: nowrap;
  z-index: 47;
}
.vector-16 {
  position: absolute;
  width: 9.68%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../assets/images/bf4ea40a-016e-41d6-96fd-3aaedc773199.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 48;
}
.button-group {
  flex-shrink: 0;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 0px;
  background: transparent;
  border: none;
  z-index: 50;
}
.span-17 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 13px;
  height: 11px;
  margin: 10px 0 0 8.177px;
  color: #ffffff;
  font-family: Helvetica, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 11px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
  z-index: 53;
}
.ellipse-18 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  background: url(../assets/images/a24b74c6-0e1d-4e78-ab73-6699d16300a5.png)
    no-repeat center;
  background-size: cover;
  z-index: 51;
  border-radius: 50%;
}
.ellipse-19 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -1px;
  left: -1px;
  background: url(../assets/images/bba1fe43-c009-4be2-935d-cd58cd83ce6e.png)
    no-repeat center;
  background-size: cover;
  z-index: 52;
}
.frame-1a {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 282.823px;
  margin: 16px 0 0 40px;
  padding: 5px 10px 5px 10px;
  background: #ffffff;
  border: 1px solid #8f8e8e;
  z-index: 54;
  border-radius: 10px;
}
.mask-group-1b {
  flex-shrink: 0;
  position: relative;
  width: 70px;
  height: 70px;
  background: url(../assets/images/bab94c05-b065-4fc0-9d2b-cee97b482d0b.png)
    no-repeat center;
  background-size: cover;
  z-index: 55;
  border-radius: 10px;
}
.frame-1c {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 182.823px;
  z-index: 56;
}
.group-1d {
  flex-shrink: 0;
  position: relative;
  width: 142.823px;
  height: 52px;
  font-size: 0px;
  z-index: 57;
}
.plat-number {
  display: block;
  position: relative;
  height: 14px;
  margin: 0 0 0 0;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 64;
}
.group-1e {
  position: relative;
  width: 142.823px;
  height: 12px;
  margin: 7px 0 0 0;
  z-index: 58;
}
.lorem-ipsum {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 124px;
  height: 11px;
  top: 0;
  left: 18.823px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  text-align: center;
  white-space: nowrap;
  z-index: 59;
}
.vector-1f {
  position: absolute;
  width: 9.68%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../assets/images/5543623c-c8fc-487a-a6c8-ae8b7fb01a7b.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 60;
}
.group-20 {
  position: relative;
  width: 142.823px;
  height: 12px;
  margin: 7px 0 0 0;
  z-index: 61;
}
.lorem-ipsum-21 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 124px;
  height: 11px;
  top: 0;
  left: 18.823px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  text-align: center;
  white-space: nowrap;
  z-index: 62;
}
.vector-22 {
  position: absolute;
  width: 9.68%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../assets/images/2338ba92-96ac-4035-a30e-f15c01be1ea8.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 63;
}
.button-group-23 {
  flex-shrink: 0;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 0px;
  background: transparent;
  border: none;
  z-index: 65;
}
.span-24 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 13px;
  height: 11px;
  margin: 10px 0 0 8.177px;
  color: #ffffff;
  font-family: Helvetica, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 11px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
  z-index: 68;
}
.ellipse-25 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  background: url(../assets/images/56c77365-ee19-4c3d-8434-b9f21f9a0337.png)
    no-repeat center;
  background-size: cover;
  z-index: 66;
  border-radius: 50%;
}
.ellipse-26 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -1px;
  left: -1px;
  background: url(../assets/images/3010901b-8a0d-41aa-a663-a3b6452d5873.png)
    no-repeat center;
  background-size: cover;
  z-index: 67;
}
.frame-27 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 282.823px;
  margin: 16px 0 0 40px;
  padding: 5px 10px 5px 10px;
  background: #ffffff;
  border: 1px solid #8f8e8e;
  z-index: 69;
  border-radius: 10px;
}
.mask-group-28 {
  flex-shrink: 0;
  position: relative;
  width: 70px;
  height: 70px;
  background: url(../assets/images/a093f23c-8d55-49ff-ba47-1d263a626fbd.png)
    no-repeat center;
  background-size: cover;
  z-index: 70;
  border-radius: 10px;
}
.frame-29 {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 182.823px;
  z-index: 71;
}
.group-2a {
  flex-shrink: 0;
  position: relative;
  width: 142.823px;
  height: 52px;
  font-size: 0px;
  z-index: 72;
}
.plat-number-2b {
  display: block;
  position: relative;
  height: 14px;
  margin: 0 0 0 0;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 79;
}
.group-2c {
  position: relative;
  width: 142.823px;
  height: 12px;
  margin: 7px 0 0 0;
  z-index: 73;
}
.lorem-ipsum-2d {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 124px;
  height: 11px;
  top: 0;
  left: 18.823px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  text-align: center;
  white-space: nowrap;
  z-index: 74;
}
.vector-2e {
  position: absolute;
  width: 9.68%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../assets/images/9a7576ba-dc62-4f3b-b5d8-768e748b71ce.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 75;
}
.group-2f {
  position: relative;
  width: 142.823px;
  height: 12px;
  margin: 7px 0 0 0;
  z-index: 76;
}
.lorem-ipsum-30 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 124px;
  height: 11px;
  top: 0;
  left: 18.823px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  text-align: center;
  white-space: nowrap;
  z-index: 77;
}
.vector-31 {
  position: absolute;
  width: 9.68%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../assets/images/944384da-ade0-4918-a3ea-40bcae4787bf.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 78;
}
.button-group-32 {
  flex-shrink: 0;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 0px;
  background: transparent;
  border: none;
  z-index: 80;
}
.number-86 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 13px;
  height: 11px;
  margin: 10px 0 0 8.177px;
  color: #ffffff;
  font-family: Helvetica, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 11px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
  z-index: 83;
}
.ellipse-33 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  background: url(../assets/images/c59728ca-2c9c-4fd4-9653-1f38b9e6ec44.png)
    no-repeat center;
  background-size: cover;
  z-index: 81;
  border-radius: 50%;
}
.ellipse-34 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -1px;
  left: -1px;
  background: url(../assets/images/b828e575-a194-4149-9931-986c78ccd8a3.png)
    no-repeat center;
  background-size: cover;
  z-index: 82;
}
.frame-35 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 282.823px;
  margin: 16px 0 0 40px;
  padding: 5px 10px 5px 10px;
  background: #ffffff;
  border: 1px solid #8f8e8e;
  z-index: 84;
  border-radius: 10px;
}
.mask-group-36 {
  flex-shrink: 0;
  position: relative;
  width: 70px;
  height: 70px;
  background: url(../assets/images/0d93f3b5-f8b9-4a12-91af-e43fcd71a4ec.png)
    no-repeat center;
  background-size: cover;
  z-index: 85;
  border-radius: 10px;
}
.frame-37 {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 182.823px;
  z-index: 86;
}
.group-38 {
  flex-shrink: 0;
  position: relative;
  width: 142.823px;
  height: 52px;
  font-size: 0px;
  z-index: 87;
}
.plat-number-39 {
  display: block;
  position: relative;
  height: 14px;
  margin: 0 0 0 0;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 94;
}
.group-3a {
  position: relative;
  width: 142.823px;
  height: 12px;
  margin: 7px 0 0 0;
  z-index: 88;
}
.lorem-ipsum-3b {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 124px;
  height: 11px;
  top: 0;
  left: 18.823px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  text-align: center;
  white-space: nowrap;
  z-index: 89;
}
.vector-3c {
  position: absolute;
  width: 9.68%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../assets/images/e81ed2d1-7a3b-4dfc-8119-87e00b76f07c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 90;
}
.group-3d {
  position: relative;
  width: 142.823px;
  height: 12px;
  margin: 7px 0 0 0;
  z-index: 91;
}
.lorem-ipsum-3e {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 124px;
  height: 11px;
  top: 0;
  left: 18.823px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  text-align: center;
  white-space: nowrap;
  z-index: 92;
}
.vector-3f {
  position: absolute;
  width: 9.68%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../assets/images/2162159b-ea5a-4715-a63a-4f3425dc04af.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 93;
}
.button-group-40 {
  flex-shrink: 0;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 0px;
  background: transparent;
  border: none;
  z-index: 95;
}
.number-86-41 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 13px;
  height: 11px;
  margin: 10px 0 0 8.177px;
  color: #ffffff;
  font-family: Helvetica, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 11px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
  z-index: 98;
}
.ellipse-42 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  background: url(../assets/images/e9f6c444-3cf4-4065-ac17-c63bc131e92a.png)
    no-repeat center;
  background-size: cover;
  z-index: 96;
  border-radius: 50%;
}
.ellipse-43 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -1px;
  left: -1px;
  background: url(../assets/images/72a25efa-e6d2-4230-aebb-f8265e323188.png)
    no-repeat center;
  background-size: cover;
  z-index: 97;
}
.rectangle-44 {
  position: absolute;
  width: 393px;
  height: 50px;
  bottom: 40px;
  left: 50%;
  background: #bf8091;
  transform: translate(-50%, 0);
  z-index: 100;
}
.frame-45 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 25px;
  position: relative;
  width: 314.588px;
  margin: 5px 0 0 39px;
  background: #bf8091;
  z-index: 101;
}
.frame-46 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 5px;
  position: relative;
  width: 56px;
  z-index: 102;
}
.group-47 {
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 20px;
  background: url(../assets/images/3680aabb-46d6-404f-b514-951fe0dea882.png)
    no-repeat center;
  background-size: cover;
  z-index: 103;
}
.alimentation-48 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 11px;
  color: #ffffff;
  font-family: Helvetica, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  text-align: center;
  white-space: nowrap;
  z-index: 104;
}
.frame-49 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 5px;
  position: relative;
  width: 38px;
  z-index: 105;
}
.group-4a {
  flex-shrink: 0;
  position: relative;
  width: 30px;
  height: 15px;
  z-index: 106;
}
.vector-4b {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../assets/images/123525b7-a0e4-4059-b743-1a88e6f0fa11.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 107;
}
.activites {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 11px;
  color: #ffffff;
  font-family: Helvetica, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  text-align: center;
  white-space: nowrap;
  z-index: 108;
}
.frame-4c {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 5px;
  position: relative;
  width: 48px;
  z-index: 109;
}
.vector-4d {
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 20px;
  background: url(../assets/images/030b135b-d6c4-45c3-95ed-613a8efccdd2.png)
    no-repeat center;
  background-size: cover;
  z-index: 110;
}
.pathologie {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 11px;
  color: #ffffff;
  font-family: Helvetica, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  text-align: center;
  white-space: nowrap;
  z-index: 111;
}
.frame-4e {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 5px;
  position: relative;
  width: 25.588px;
  z-index: 112;
}
.group-4f {
  flex-shrink: 0;
  position: relative;
  width: 25.588px;
  height: 22.773px;
  z-index: 113;
}
.vector-50 {
  position: relative;
  width: 11.176px;
  height: 11.176px;
  margin: 0 0 0 7.185px;
  background: url(../assets/images/f522c429-4eb1-44c1-95ea-077a81534d98.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 114;
}
.vector-51 {
  position: relative;
  width: 25.588px;
  height: 10.168px;
  margin: 1.429px 0 0 0;
  background: url(../assets/images/4e008574-66f8-4b05-af3a-d4b2fee256f4.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 115;
}
.profil {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 11px;
  color: #ffffff;
  font-family: Helvetica, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  text-align: center;
  white-space: nowrap;
  z-index: 116;
}
.frame-52 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 5px;
  position: relative;
  width: 47px;
  z-index: 117;
}
.vector-53 {
  flex-shrink: 0;
  position: relative;
  width: 17.734px;
  height: 20px;
  background: url(../assets/images/cf697ece-7a2d-4857-b450-3ae089d17e22.png)
    no-repeat center;
  background-size: cover;
  z-index: 118;
}
.microbiote {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 11px;
  color: #ffffff;
  font-family: Helvetica, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  text-align: center;
  white-space: nowrap;
  z-index: 119;
}
