:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 393px;
  height: 852px;
  margin: 0 auto;
  font-size: 0px;
  background: #fad5b5;
  overflow: hidden;
}
.ema {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 115px;
  height: 74px;
  margin: 60px 0 0 139px;
  color: #473463;
  font-family: Agbalumo, var(--default-font-family);
  font-size: 50px;
  font-weight: 400;
  line-height: 74px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 2.5px;
}
.group {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 25px 0 0 156px;
  background: url(../assets/images/c57022b4-9a1f-41a2-97f9-719a278ea1d2.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 1;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 66px;
  margin: 15px 0 0 163px;
  padding: 0 5px 0 5px;
  cursor: pointer;
  background: #f29c94;
  border: none;
  z-index: 21;
  border-radius: 5px;
}
.andrea {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 18px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
  z-index: 22;
}
.flex-row-d {
  position: relative;
  width: 304px;
  height: 80px;
  margin: 64px 0 0 44px;
  z-index: 18;
}
.group-1 {
  position: absolute;
  top: 0;
  right: 224px;
  bottom: 0;
  left: 0;
  background: url(../assets/images/7e0330c9-2cc9-4662-beb4-5e65e9a1172d.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.ellipse {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  background: url(../assets/images/8aecd28a-9da8-4ed4-9b8e-8315e3382648.png)
    no-repeat center;
  background-size: cover;
  transform: translate(90%, -50%);
  z-index: 16;
  border-radius: 50%;
}
.vector {
  position: absolute;
  width: 13.16%;
  height: 25%;
  top: 37.5%;
  left: 80.26%;
  background: url(../assets/images/68917b2f-94a7-410a-839e-27c951503a3d.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 18;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 302px;
  height: 16px;
  margin: 15px 0 0 37px;
  z-index: 19;
}
.frame-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 95px;
  padding: 0 5px 0 5px;
  cursor: pointer;
  background: #f29c94;
  border: none;
  z-index: 4;
  border-radius: 5px;
}
.alimentation {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 5;
}
.frame-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 61px;
  padding: 0 5px 0 5px;
  cursor: pointer;
  background: #f29c94;
  border: none;
  z-index: 19;
  border-radius: 5px;
}
.activite {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 20;
}
.flex-row-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 304px;
  height: 80px;
  margin: 48px 0 0 44px;
  z-index: 11;
}
.group-4 {
  flex-shrink: 0;
  position: relative;
  width: 80px;
  height: 80px;
  background: url(../assets/images/eb83fc55-b41c-4b1f-ac90-345afdc1e29f.png)
    no-repeat center;
  background-size: cover;
  z-index: 7;
}
.group-5 {
  flex-shrink: 0;
  position: relative;
  width: 80px;
  height: 80px;
  background: url(../assets/images/491fce9c-74b6-461b-a9d0-1c11a8041d15.png)
    no-repeat center;
  background-size: cover;
  z-index: 11;
}
.flex-row-a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 306px;
  height: 16px;
  margin: 15px 0 0 43px;
  z-index: 12;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 82px;
  padding: 0 5px 0 5px;
  cursor: pointer;
  background: #f29c94;
  border: none;
  z-index: 8;
  border-radius: 5px;
}
.pathologie {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 9;
}
.frame-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 81px;
  padding: 0 5px 0 5px;
  cursor: pointer;
  background: #f29c94;
  border: none;
  z-index: 12;
  border-radius: 5px;
}
.microbiote {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: Helvetica, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 13;
}
